.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.toc.slide ul {
  margin-top: 60px;
}
.toc.slide h2 {
  display: none;
}
.toc.slide ul li em {
  float: right;
  font-weight: normal;
  opacity: .66;
}

/* Images and embeds */
iframe.image {
  width: 100%;
  height: 420px;
}
iframe.graph {
  width: 1024px;
  height: 492px;
  margin: -30px -60px;
  overflow: hidden;
}
iframe.query-client, iframe.website {
  width: 100%;
  height: 462px;
}
.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.label {
  position: absolute;
}

/* Queries */
ol.query > li {
  min-height: 126px;
  margin-bottom: 0;
}
ol.query > li > ul  {
  margin-left: 0;
}
ol.query .count {
  float: right;
  color: #CC4320;
}
ol.query em {
  color: #737373;
}
ol.query code {
  letter-spacing: -1px;
  white-space: nowrap;
}
